body {background-color :#D9CF43;
      color: #F2F2F2;
}

#titulo {
    color: #8C3503; 
    text-align:center;
    font-size: 40px;
}
.texto1 {
    color: #8C3503; 
    text-align:justify;
    font-size: 28px;
    font-family: Lucida Sans;
}

.texto2 {
    color: #8C3503;
    text-align:justify;
    font-size: 38px;
    font-family: Lucida Sans;
}
#bolha {
    width: 50%;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

